.pie-nav {
  position: absolute;
  bottom: 0; 
  width: 100%; 
  text-align: center; 
}

.pie-nav > p {
  margin-bottom: 0 !important;
}

.pie-aux {
  position: absolute;
  bottom: 0; 
  width: 100%; 
  text-align: center; 
}

.pie-aux > p {
  margin-bottom: 0 !important;
  padding-right: 20px;
}

ng-scrollbar[horizontalused="true"] .pie-nav {
  display: none;
} 

ng-scrollbar[horizontalused="false"] .pie-aux {
  display: none;
} 


