<div class="row">
  <div class="col-lg-8">
    <app-calendar></app-calendar>
  </div>
  <div class="col-lg-4" style="margin-top: 45px">
    <div class="col-xl-12">
      <app-card
        [hidHeader]="true"
        [options]="false"
        *ngIf="eventos.length === 0"
      >
        <div class="empty-state">
          <h6>No Hay Eventos Registrados</h6>
        </div>
      </app-card>
      <app-card
        cardTitle="Próximos Eventos"
        [options]="false"
        blockClass="table-border-style"
        *ngIf="eventos.length > 0"
      >
        <div class="table-responsive">
          <table class="table table-columned">
            <tbody>
              @for (evt of eventos; track evt.id) {
              <tr>
                <td>
                  <div>
                    <b>Proceso: </b>
                    {{ consguirProceso(evt.descripcion) || evt.titulo}}
                  </div>
                  <div>
                    <b>{{ evt.titulo}}</b>
                  </div>
                  <div><b>Día:</b> {{ formatFecha(evt.fechaInicio) }}</div>
                  <div><b>Hora:</b> {{ formatHora(evt.fechaInicio) }}</div>
                </td>
              </tr>
              }
            </tbody>
          </table>
        </div>
      </app-card>
    </div>
  </div>
</div>
