<ul class="navbar-nav ms-auto">
  <li>
    <div class="dropdown" ngbDropdown placement="auto">
      <a ngbDropdownToggle href="javascript:">
        <i class="icon feather icon-bell" title="Notification"></i>
        <span *ngIf="events24Horas()" class="badge bg-danger"><span class="sr-only"></span></span>
      </a>
      <div ngbDropdownMenu class="dropdown-menu dropdown-menu-end notification">
        <div class="noti-head">
          <h6 class="d-inline-block m-b-0">Notificationes</h6>
          <div class="float-end">
          </div>
        </div>
        <ul class="noti-body">
          <li class="n-title">
            <p class="m-b-0">Próximos eventos</p>
          </li>
          <li class="notification" *ngIf="eventos.length === 0">
            <div class="media">
              <div class="media-body">
                <p>
                  <strong>No hay eventos en los próximos 30 días</strong>
                </p>
              </div>
            </div>
          </li>
          @for (evt of eventos; track evt.id) {
          <li class="notification">
            <div class="media">
              <div class="media-body">
                <p>
                  <strong>{{evt.titulo}}</strong>
                </p>
                <p>{{convertDateToText(evt.fechaInicio)}}
                </p>
              </div>
            </div>
          </li>
          }
        </ul>
        <div class="noti-footer">
          <a href="/admin/agenda" routerLink="/admin/agenda">Mostrar Todos</a>
        </div>
      </div>
    </div>
  </li>
  <li>
    <div class="dropdown drp-user" ngbDropdown placement="auto">
      <a href="javascript:" ngbDropdownToggle>
        <img
          src="assets/images/default.svg"
          class="img-radius wid-40"
          alt="User-Profile-Image"
        />
      </a>
      <div
        class="dropdown-menu dropdown-menu-end profile-notification"
        ngbDropdownMenu
      >
        <div class="pro-head">
          <img
            src="assets/images/default.svg"
            class="img-radius"
            alt="User-Profile-Image"
          />
          <span>{{ nombre }}</span>
          <a
            href="javascript:"
            class="dud-logout"
            title="Logout"
            (click)="logout()"
          >
            <i class="feather icon-log-out"></i>
          </a>
        </div>
        <ul class="pro-body">
          <li>
            <a href="javascript:" class="dropdown-item">
              <i class="feather icon-user"></i>
              Perfil
            </a>
          </li>

          <li>
            <a href="javascript:" class="dropdown-item" (click)="logout()">
              <i class="feather icon-lock"></i>
              Cerrar Sesión
            </a>
          </li>
        </ul>
      </div>
    </div>
  </li>
</ul>
<!-- 
@if (visibleUserList) {
  <section class="header-user-list" [ngClass]="{ open: visibleUserList }" [@slideInOutLeft]>
    <app-chat-user-list
      (ChatToggle)="onChatToggle($event)"
      (ChatCollapse)="this.visibleUserList = !this.visibleUserList; this.chatMessage = false"
    />
  </section>
}
@if (chatMessage) {
  <section class="header-chat" [ngClass]="{ open: chatMessage }" [@slideInOutLeft]>
    <app-chat-msg (ChatToggle)="this.chatMessage = !this.chatMessage" [friendId]="friendId" />
  </section>
}
@if (visibleUserList) {
  <section class="header-user-list" [ngClass]="{ open: visibleUserList }" [@slideInOutRight]>
    <app-chat-user-list
      (ChatToggle)="onChatToggle($event)"
      (ChatCollapse)="this.visibleUserList = !this.visibleUserList; this.chatMessage = false"
    />
  </section>
}
@if (chatMessage) {
  <section class="header-chat" [ngClass]="{ open: chatMessage }" [@slideInOutRight]>
    <app-chat-msg (ChatToggle)="this.chatMessage = !this.chatMessage" [friendId]="friendId" />
  </section>
}
 -->
