<div class="modal-header">
    <h4 class="modal-title">{{ modalTitle }}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('cancel')"></button>
</div>
<div class="modal-body">
    <form>
        <div class="mb-3">
            <label for="title" class="form-label">Proceso: </label>
            <select class="form-select" aria-label="Default select example" [(ngModel)]="procesoSelected"
                name="categoría" [(value)]="procesoSelected">
                <option value='' selected disabled hidden>Seleccionar Proceso</option>
                <option *ngFor="let p of procesos" [value]="p.id">{{p.nombre}}</option>
            </select>
        </div>
        
        <div class="mb-3">
            <label for="title" class="form-label">Expediente: </label>
            <select class="form-select" aria-label="Default select example" [(ngModel)]="event.nombre"
                name="categoría" >
                <option value='' selected disabled hidden>Seleccionar Expediente</option>
                <option *ngFor="let p of exped">{{p.nombre}}</option>
            </select>
        </div>
        
        <div class="mb-3">
            <label for="title" class="form-label">Sentencia: </label>
            <input type="text" class="form-control" id="title" [(ngModel)]="event.descripcion" name="title" >
        </div>
        <div class="mb-3">
            <label for="title" class="form-label">Descripción: </label>
            <textarea class="form-control" aria-label="With textarea"></textarea>
        </div>
        <div class="mb-3">
            <!-- <label for="title" class="form-label">Archivo: </label> -->
            <div class="input-group mb-3">
                <input type="file" class="form-control" id="inputGroupFile02">
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="activeModal.dismiss('cancel')">Cancelar</button>
    <button type="button" class="btn btn-primary" (click)="saveEvent()">Guardar</button>
</div>