<!-- <div class="alert-container col-xl-3 col-lg-4 col-md-4 col-sm-8 col-10">
    @for (alert of alerts; track alert) {
    <div [className]="'alert alert-notify alert-dismissible w-100 fade show alert-'+alert.type" role="alert"
        [class]="{'show': alert.show, 'fade-out': !alert.show}">
        <div class="w-100">
            <div class="row">
                <div class="col-1 container-fluid">
                    <i class="align-middle fs-3" [class]="getIcon(alert.type)"></i>
                </div>
                <div class="col-11">
                    <span data-notify="title" class="fw-bold d-block">{{alert.title }}</span>
                    <span class="me-1" data-notify="message">{{alert.message }}</span>
                    @if (alert.url!="") {
                    <a class="text-decoration-none fw-bold text-dark" href="{{alert.url}}" target="_blank"
                        data-notify="url">enlace</a>
                    }
                </div>
            </div>
        </div>
        <button type="button" class="btn-close" (click)="closeAlert(alert.id)" aria-label="Close"></button>
    </div>
    }
</div> -->
<div class="alert-container col-xl-3 col-lg-4 col-md-4 col-sm-8 col-10">
@for (alert of alerts; track alert) {
	<div [className]="'alert alert-notify alert-dismissible fade show col-xl-8 col-lg-8 col-md-7 col-sm-8 col-10 alert-'+alert.type"
		role="alert" [class]="{'show': alert.show, 'fade-out': !alert.show}">
		<div class="w-100">
			<i [class]="getIcon(alert.type)"></i> {{alert.message }}
		</div>
		<button type="button" class="btn-close" (click)="closeAlert(alert.id)" aria-label="Close"></button>
	</div>
	}
</div>