.alert-container {
    position: fixed;
    top: 60px;
    right: 20px;
    z-index: 1050;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0px;
    /* Espacio entre alertas */
}

.alert {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.alert.show {
    opacity: 1;
    transform: translateY(0);
}

.alert.fade-out {
    opacity: 0;
    transform: translateY(-20px);
}

.alert-notify {
    padding: 6px 30px 6px 6px;
}

.alert-notify .btn-close {
    margin-top: 5px;
    padding: 6px;
}