.b {
    background-image: url('/assets/images/law2.webp');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 75lvh;
    padding: 10%;
}

.b > p{
    padding-top: 30px;
    padding-right: 40%;
}