<div class="row">
  <div class="col-sm-12">
    <div class="b">
      <h3>
        RAMIREZ & HERNANDEZ <br />
        ABOGADOS Y ASOCIADOS S.A.S
      </h3>
      <p>
        "Somos una entidad sin ánimo de lucro cuya finalidad es defender y
        promover los Derechos Humanos desde una perspectiva integral,
        fundamentándose en la indivisibilidad e interdependencia de todos los
        derechos y libertades."
      </p>
      <p>
        "Para cumplir con estos objetivos, la Corporación desarrolla actividades
        de fortalecimiento, asesoría y acompañamiento jurídico e
        interdisciplinario, además de participar en procesos de denuncia,
        interlocución e incidencia política, incluyendo litigios estratégicos a
        nivel nacional e internacional."
      </p>
    </div>
  </div>
</div>
