<div class="modal-header">
  <h4 class="modal-title">{{ modalTitle }}</h4>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="activeModal.dismiss('cancel')"
  ></button>
</div>
<div class="modal-body">
  <app-card [hidHeader]="true" [options]="false" *ngIf="procesos.length === 0">
    <div class="empty-state">
      <h5>No Hay Proceos Registrados</h5>
      <p>Comienza creando un proceso</p>
    </div>
  </app-card>
  <form *ngIf="procesos.length > 0">
    <div class="mb-3">
      <label for="title" class="form-label">* Proceso Asociado:</label>
      <select
        class="form-select"
        [(ngModel)]="dataEvento.evento.procesoId"
        name="expediente"
      >
        <option value="">Seleccione Un Proceso</option>
        <option *ngFor="let proceso of procesos" [value]="proceso.id">
          {{ proceso.numeroProceso }} - {{ proceso.nombre }}
        </option>
      </select>
    </div>
    <div class="mb-3">
      <label for="title" class="form-label">* Título</label>
      <input
        type="text"
        class="form-control"
        id="title"
        [(ngModel)]="dataEvento.evento.titulo"
        name="title"
      />
    </div>

    <div class="mb-3">
      <label for="title" class="form-label">* Termino Fijo</label>
      <select
        class="form-select"
        aria-label="Default select example"
        name="termino"
        [(value)]="selectedTermino"
      >
        <option selected disabled hidden>Seleccionar Termino</option>
        <option *ngFor="let p of terminos" [value]="p.id">{{ p.name }}</option>
      </select>
    </div>
    <div class="mb-3" style="display: flex; justify-content: space-between">
      <div>
        <label for="title" class="form-label">* Fecha Evento</label>
      </div>
      <div>
        <input type="date" id="myDate" name="myDate" [value]="defaultDate" />
      </div>
    </div>
    <div class="mb-3" style="display: flex; justify-content: space-between">
      <div>
        <label for="title" class="form-label">* Hora Evento</label>
      </div>
      <div>
        <input type="time" id="myTime" name="myTime" [value]="defaultTime" />
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-outline-secondary"
    (click)="activeModal.dismiss('cancel')"
  >
    Cancelar
  </button>
  <button type="button" class="btn btn-primary" (click)="saveEvent()">
    Guardar
  </button>
</div>
